html {
  position: relative;
  min-height: 100%;
}

body{
    margin-bottom: 325px !important;
}

.footer {
  position: absolute;
  margin-bottom: 0;
  bottom: 0;
  width: 100%;
  /* Altura de footer */
  height: 195px;
  /*Imagen de fondo*/
  background-image: url('/SisConAsadaLaUnion/public/assets/templates/FooterLogin.jpg'); 
}

/*Media queries*/

@media only screen and (max-width: 991px) {

    body{
        margin-bottom: 408px !important;
    }

    .footer {
        background-image: url('/SisConAsadaLaUnion/public/assets/templates/FooterLoginResponsive.jpg');
        height:auto;
    }

    .footer img{
        display: inline !important;
        width: 59px !important;
        height: 29px !important;
    }

}

@media only screen and (max-width: 262px) {

    body{
        margin-bottom: 458px !important;
    }

}

@media only screen and (max-width: 205px) {

    body{
        margin-bottom: 508px !important;
    }

}

@media only screen and (max-width: 201px) {

    body{
        margin-bottom: 558px !important;
    }

}

@media only screen and (max-width: 185px) {

    body{
        margin-bottom: 678px !important;
    }

}